@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #f5f5f5;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    /* height: 100vh; */
}

#menu-icon{
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

section nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    background: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: 1000;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

section nav ul{
    list-style: none;
    margin-left: 50%;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    transition: .1s;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #68d66f;
    display: block;
    transition: .2s;
}

section nav ul li a:hover{
    color: #68d66f;
}

section nav ul li a:hover::after{
    width: 100%;
}

section .main{
    display: flex;
    justify-content: space-around;
    padding-top: 25vh;
}

section .main .men_text h1{
    font-size: 40px;
    /* margin-top: -40vh; */
}

.men_text h1 span{
    color: #68d66f;
    font-size: 40px;
}

.men_text h2{
    background: #68d66f;
    margin: 25px;
    padding: 3px;
    width: 269px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    border-radius: 30px 130px 30px;
    transition: .3s;
}

.men_text h2:hover{
    background: #000;
}

.men_text h2 span{
    color: #f5f5f5;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 25px;
}

.main_image img{
    width: 650px;
    border-radius: 10px;
    border: 2px solid green;
    box-shadow: 2px 2px 4px #68d66f;
}

section p{
    margin-top: -40vh;
    width: 40%;
    text-align: center;
    line-height: 20px;    
    margin-left: 20px;
}

.main_btn{
    background: #68d66f;
    margin: 20px 0 0 30vw;
    width: 150px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px 130px 30px;
    padding: 8px;
    transition: .3s;
}

.main_btn:hover{
    background: #000;
}

.main_btn a{
    color: #fff;
    margin-right: 5px;
}

.main_btn i{
    color: #fff;
    transition: .3s;
}

.main_btn:hover i{
    transform: translateX(7px);
}

/* =================== ABOUT =================================== */

.about{
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background-image: url('images/legumes.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20vh;
}

.about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about_text h1 span{
    color: #68d66f;
    margin-right: 15px;
}

.about_text h1{
    margin-top: 50px;
    font-size: 45px;
    text-align: center;
}

.about_text h3{
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}

.about_text p{
    width: 1090px;
    margin-top: 10px;
    text-align: center;
    line-height: 20px;
}

/* ============================== AVAILABLE ======================================== */

.available{
    width: 100%;
    padding: 70px 0;
}

.available h1{
    font-size: 45px;
    text-align: center;
    margin-bottom: 10vh;
}

.available h1 span{
    color: #68d66f;
    margin-left: 15px;
}

.av_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.av_card{
    width: 322px;
    height: 500px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.av_image{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.av_image img{
    transition: .3s;
}

.av_image:hover img{
    transform: scale(1.1);
}

.av_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #68d66f;
}

.av_info p{
    text-align: center;
    margin-top: 10px;
    line-height: 20px;
}

.av_info h3{
    text-align: center;
    margin-top: 10px;
}

.av_info h3 span{
    color: #68d66f;
    font-family: 'Cormorant Garamond', serif;
}

.av_icon{
    color: #68d66f;
    text-align: center;
    margin: 10px 0 10px 0;
}

.av_btn{
    background: #68d66f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0 50px;
    border-radius: 30px 130px 30px;
    padding: 7px;
    transition: .3s;
}

.av_btn:hover{
    background: #000;
}


/* ===================== ORDER ============================== */
.order{
    margin: 15vh 0;
}

.order h1{
    text-align: center;
    font-size: 45px;    
}

.order h1 span{
    margin-left: 15px;
    color: #68d66f;
}

.order form{
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
}

.order form fieldset{
    padding: 3.5rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px;
}

.order form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order form .inputBox input{
    height: 40px;
}

.order form .inputBox input{
    width: 100%;
    background: #fff;
    border-radius: .5rem;
    border: 1px solid black;
    margin: 5px 0;
    font-size: 1rem;
    color: #fff;
    text-transform: none;
    padding: 5px 10px;
    background: rgb(197, 187, 187);
    outline: none;
}

.order form .inputBox input::placeholder{
    color: #fff;
}

.order form .inputBox input:focus{
    background: #68d66f;
}

.order form .inputBox input{
    width: 49%;
}

.order form .btn-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0;
}

.order form .btn-container .btn{
    background: #68d66f;
    border-radius: 30px 130px 30px;
    padding: 10px 50px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 20px;
    transition: .3s;
}

.order form .btn-container .btn:hover{
    background: #000;
}

.order form .btn-container .btn:active{
    transform: scale(.9);
}


/* ======================================= MEDIA QUERIES ============================= */
@media(max-width: 1145px){
    .home-container{
        width: 120%;
        margin-left: 20px;
    }

    .about{
        margin: 0 10vw;
    }

    .about p{
        font-size: 20px;
        margin-top: 40px;
        line-height: 30px;
    }
}

@media(max-width: 980px){
    .home-container{
        width: 130%;
        margin-left: 20px;
    }
}

@media(max-width: 870px){
    .home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 158%;
    }

    .home-container .main{
        flex-direction: column;
    }

    .home-container .desc-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main .men_text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_image img{
        width: 100%;
    }

    section p{
        margin-top: 5vh;
        width: 60%;
        font-size: 20px;
        line-height: 30px;
    }

    .about{
        background-image: none;
        margin-left: 15vw ;
    }

    .available{
        width: 200%;
    }

    .order{        
        width: 200%;
    }
}

@media(max-width: 700px){
    #menu-icon{
        display: block;
    }

    section nav ul{
        position: absolute;
        width: 100%;
        padding: 10px;
        top: 100%;
        right: -100%;
        transition: .5s;
        transition-delay: .5s;
        background: lightgray;
        line-height: 40px;
    }

    section nav ul li{
        display: block;
    }

    section nav ul li a{
        font-size: 25px;
    }
    
    section nav ul.active{
        right: 0;
    }

    .av_box{
        /* display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; */
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 384px){
    .men_text{
        width: 200%;
    }

    section .main .men_text h1{
        font-size: 5rem;
    }

    .men_text h1 span{
        font-size: 5rem;
    }

    .men_text h2{
        font-size: 3rem;
        width: 520px;
    }

    .men_text h2 span{
        font-size: 3rem;
    }

    .main_image img{
        width: 150%;
        margin-left: 30px;
    }

    section p{
        text-align: left;
        width: 170%;
        margin-left: 80%;
        font-size: 2rem;
        font-weight: 200;
        line-height: 40px;
    }

    .main_btn{
        margin-right: -180%;
        width: 400px;
        font-size: 2.5rem;
    }

    .main_btn a{
        text-decoration: none;        
    }

    .about h1{
        font-size: 5rem;
    }

    .about h3{
        font-size: 3rem;
    }

    .about p{
        font-size: 2rem;
        font-weight: 200;
        line-height: 40px;
    }

    .available{
        width: 300%;
        margin-left: 40px;
    }

    .available h1{
        font-size: 5rem;
    }

    .av_card{
        width: 500px;
        height: 700px;
    }

    .av_image{
        width: 470px;
        height: 470px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .av_image img{
        width: 400px;
        box-shadow: 0 0 10px;
        border-radius: 10px;
    }

    .av_info h2{
        font-size: 2rem;
    }

    .av_info p{
        font-size: 20px;
    }

    .av_btn{
        font-size: 25px;
    }

    .order{
        width: 300%;
        margin-left: 40px;
    }
}

